body {
  background: url('https://images.pexels.com/photos/154246/pexels-photo-154246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}


.game-container {
  text-align: center;
}

.game-title {
  font-size: 36px;
  color: #333;
}

.game-board {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: inline-block;
}

.board-row {
  display: flex;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  background: #008CBA;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  cursor: pointer;
  transition: background 0.3s;
}

.square:hover {
  background: #005F76;
}

/* Styling for the winning message */
.status-winner {
  margin-top: 40px;
  color: #fbfaf9; /* Change the color to your preference */
  font-size: 24px;
  font-weight: bold;
}
